{% extends 'main.html' %}
{% block content %}
    <div>
      <main id="container">
        <div id="banner-1">
          <h1>
            INDIA KA <br />
            BATTLEGROUNDS
          </h1>
          <br />
          <div id="store">
            <img
              src="https://www.battlegroundsmobileindia.com/common/img/btn/btn_appstore_202.png"
              width=" 250px"
              height=" 70px"
              alt=""
            />
            <img
              src="https://www.battlegroundsmobileindia.com/common/img/btn/btn_googleplay_202.png"
              width=" 250px"
              height="70px"
              alt=""
            />
          </div>
          <br />
          <button id="buy-uc">BUY UC AT Unipin</button><br />
          <button id="download-apk">APK DOWNLOAD</button>
        </div>
        <br />
        <br />
        <br />
        <br />
        <p id="india">INDIA KI HEARTBEAT</p>
        <iframe
          id="iframe-home"
          width="95%"
          height="800"
          src="https://www.youtube.com/embed/5NfkxxxndRc?si=8fUFSAJ036-byDMN"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen
        ></iframe>
        <section class="buttomctn" id="div1">
          <div class="contain">
            <p id="appicon"><img src="https://www.battlegroundsmobileindia.com/common/img/main/app.png" alt="" /></p>
            <p id="tit">
              INDIA KA BATTLEGROUNDS IS <br />
              HERE DOWNLOAD NOW!
            </p>
            <img
              src="https://www.battlegroundsmobileindia.com/common/img/btn/btn_appstore_202.png"
              width=" 250px"
              height=" 70px"
              alt=""
            />
            <img
              src="https://www.battlegroundsmobileindia.com/common/img/btn/btn_googleplay_202.png"
              width=" 250px"
              height="70px"
              alt=""
            />
          </div>
        </section>
      </main>
    </div>
{% endblock content %}
