{% extends 'main.html' %}
{% block content %}
<section id="game-banner">
      <div id="banner-text"></div>
    </section>
    <br /><br />
    <section id="section2">
      <div id="section2-text1">
        <h2>IN-GAME FEATURES FOR SAFE GAMING</h2>
      </div>
      <div id="section2-text2">
        <h2>WHY GAME RESPONSIBLY ?</h2>
      </div>
      <div id="section2-text3">
        <h2>INDIA, LET’S BATTLE THIS TOGETHER!</h2>
      </div>
    </section>
{% endblock content %}
