<footer>
  <div class="footer-wrap">
    <div class="contains">
      <div class="footer-text">
        <h6 class="footer-logo">
          <a href="">
            <img height="25px" src="https://www.battlegroundsmobileindia.com/common/img/common/footerlg.png" alt="" />
          </a>
        </h6>
        <span class="copyright">© 2023 KRAFTON, Inc. All rights reserved.</span>
        <br />
        <p>
          <a href=""><span>Privacy Policy</span></a>
          ::before
          <a href=""><span>Terms of Service </span></a>
          ::before
          <a href=""><span>Rules of Conduct</span></a>
          ::before
          <a href=""><span>Official Community Policy </span></a>
          ::before
          <a href=""><span>Content Creation Guideline </span></a>
          ::before
          <a href=""><span>HOME Terms of Service</span></a>
        </p>
      </div>
    </div>
  </div>
</footer>
